body {
    min-height: 100vh;
    margin: 0;
    background-color: #FFEBCD;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
    margin-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    width: 650px;
    height: 650px; 
    margin-top: 25px;
   
}

.gridItem {
    border: 1px solid #ccc;
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 50px;
}