body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #FFEBCD;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
    margin-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    width: 650px;
    height: 650px; 
    margin-top: 25px;
   
}

.gridItem {
    border: 1px solid #ccc;
}


button {
    margin-top: 50px;
}

